body {
   font-family: arial,sans-serif;
}

.detail-item {
   display: inline-block;
   margin-bottom: 20px;
   padding-left: 1rem;
}

.detail-item li {
   font-size: 12px;

}

.weather-app-wrapper{
   max-width: 600px;
   margin: 40px auto;
}

.weather-app {
   max-width: 650px;
   margin: 30px auto;
   margin-bottom: 15px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
}

hr {
   margin-top: 0;
   color: #767676;
}

h1 {
   font-size: 24px;
   line-height: 26px;
   font-weight: bold;
}

li {
   list-style: none;
   padding: 0;
   margin: 0;
   color: rgba(83, 83, 83, 0.665);
   font-size: 13px;
}

li:first-letter {
   text-transform: capitalize;
}

.temperature strong {
   color: #333;
   font-size: 57px;
   font-weight: 400;
   line-height: 2;
   padding-left: 10px;
   margin-top: 30px;
}

.temperature {
   display: inline;
}

#main-img {
   margin-bottom: 18px;
}

.weather-detail {
   padding: 0;
   margin: 0;
}

.weather-main-detail {
   text-align: right;
   margin-top: 20px;
   padding-right: 32px;
}

.units {
   display: inline-block;
   font-size: 14px;
   line-height: 45px;
   margin-top: 16px;
   padding-left: 0px;
   vertical-align: top;
}

.temperature .active-two {
   color: #0B5ED7;
   text-decoration: none;
}

nav-item.temperature .active {
   color: black;
   text-decoration: none;
   cursor: default;
}

#footer {
   font-size: 13px;
}

.weather-forecast {
   margin-top: 20px;
   text-align: center;
}

.weather-forecast-date {
   font-size: 16px;
   color: grey;
}

.weather-forecast-tempereture {
   font-size: 13px;
}

.weather-forecast-tempereture-min {
   opacity: 0.5;
}